body{
    background-color: #F3DECD;
}
.btn-color{
    background-color: #EF8732 !important;
    color: antiquewhite!important;
    border-radius: 10px!important;
}

.navbar{
    background-color: #F3DECD;
    position: fixed;
}
.nav-color{
    color: black!important;
}
.container-book{
    width: 780px;
    height: 845px;
    flex-shrink: 0;
}
.content{
    background-color:#F3DECD; 
    height: 96vh;
}

.container-trending{
    display: 50vh;
}
.container{
    background-color: #F3DECD;
}
.container-bg{
    /* background-image: url('{{ asset("img/beautiful-woman-reading-park 1.svg") }}'); */
    background-color: #EF8732;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

